* {
    word-wrap: break-word;
}
body{
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1502691876148-a84978e59af8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-attachment: fixed;
}
p, h1{
    margin: 40px 0 40px 50px;
    background-color: rgba(247, 240, 237, 0.9);
    width: 60%;
    padding: 15px;
    text-align: justify;
}