@media screen and (max-width: 768px){
    .bocks{
        width: 100%;
        padding: 32px 16px;
        gap: 40px;
    }
    .bock{
        width: 100%;
        height: 240px;
    }
    img{
        width: 220px;
        height: 165px;
    }
}