@media screen and (min-width: 769px) and (max-width: 1279px) {
    .bocks{
        width: 740px;
    }
    .bock{
        width: 220px;
        height: 240px;
    }
    img{
        width: 220px;
        height: 165px;
    }
}