*{
    margin: 0;
}
header, footer {
    height: 22vh;
    background: #D9D9D9;
}
main{
    height: 56vh;
    display: flex;
}
aside{
    width: 27vw;
    height: 100%;
    background: #C0BDBD;
}
div{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.section1{
    height: 100%;
    width: 46vw;
    background: #827878;
}
.section2{
    height: 100%;
    width: 46vw;
    background: #B7ADAD;
}