*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 27% 46% 27%;
    grid-template-rows: 22% 18.5% 9.5% 9.5% 18.5% 22%;
    grid-template-areas:
    "header header header"
    "content1 content1 aside1"
    "content2 content2 aside1"
    "content2 content2 aside2"
    "content3 content3 aside2"
    "footer footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
}
.content1{
    grid-area: content1;
    background: #776969;
}
.content2{
    grid-area: content2;
    background: #643030;
}
.content3{
    grid-area: content3;
    background: #441818;
}
.aside1{
    grid-area: aside1;
    background: #937575;
}
.aside2{
    grid-area: aside2;
    background: #644C4C;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}
header, footer, .content1, .content2, .content3, .aside2, .aside1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}