.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 22% 56% 22%;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
}
main{
    grid-area: main;
    background: #A4A4A4;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}