*{
    margin: 0;
}
div{
    margin-top: 16px;
}
.bloc1>ul>li:nth-child(even) {
    color: pink;
}
.bloc2>ul>li:nth-child(odd) {
    font-size: 22px;
}
.bloc3>ul>li:nth-child(2n+4)::after {
    content: '!';
}
.bloc4>ul>li:last-of-type {
    color: purple;
}
.bloc5>ul>li:first-letter {
    font-size: 30px;
}
.bloc6>ul>li:nth-last-child(3n+4) {
    color: blue;
}