*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 29.5% 29.5% 41%;
    grid-template-rows: 4% 43% 43% 10%;
    grid-template-areas:
    "header header header "
    "section1 section2 aside1"
    "section1 section2 aside2"
    "footer footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
}
.section1{
    grid-area: section1;
    background: #A4A4A4;
}
.section2{
    grid-area: section2;
    background: #C1C1C1;
}
.aside1{
    grid-area: aside1;
    background: #7F7A7A;
}
.aside2{
    grid-area: aside2;
    background: #6B6161;
}
footer{
    grid-area: footer;
    background: #AFA9A9;
}