#section-pink{
    height: 50vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align-last: center;
    padding: 0 50px;
}
#section-black{
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align-last: center;
    padding: 0 50px;
    color: white;
}