*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 27% 46% 27%;
    grid-template-rows: 22% 28% 28% 22%;
    grid-template-areas:
    "header header header"
    "left-aside upper-section right-aside"
    "left-aside lower-section right-aside"
    "footer footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
}
.left-aside{
    grid-area: left-aside;
    background: #C0BDBD;
}
.right-aside{
    grid-area: right-aside;
    background: #C0BDBD;
}
.upper-section{
    grid-area: upper-section;
    background: #827878;
    width: 46vw;
    height: 28vh;
}
.lower-section{
    grid-area: lower-section;
    background: #B7ADAD;
    width: 46vw;
    height: 28vh;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}