body{
    background-color: blanchedalmond;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}
.bloc{
    background-color: red;
    width: 100px;
    height: 100px;
    display: flex;
    gap: 50px;
    margin: 30px 0;
}
.bloc:hover{
    background-color: #7a7979;
    border-radius: 50%;
}