*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 59% 41%;
    grid-template-rows: 4% 40% 34% 10% 12% ;
    grid-template-areas:
    "header header "
    "main aside1"
    "main aside2"
    "section section"
    "footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
}
main{
    grid-area: main;
    background: #A4A4A4;
}
.aside1{
    grid-area: aside1;
    background: #7F7A7A;
}
.aside2{
    grid-area: aside2;
    background: #615050;
}
section{
    grid-area: section;
    background: #D9D9D9;
}
footer{
    grid-area: footer;
    background: #AFA9A9;
}