body{
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1768345755079-c48b70d72785?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    background-attachment: fixed ;
    background-position: center;
}
p{
    color: #0a2997;
    /*font-size: 32px;*/
    width: 50%;
    height: 50px;
    background-color: lightpink;
    display: inline-block;
}
h2, h3{
    color: #0a971d;
}
sub, sup {
    color: #970a0a;
    font-size: 20px ;
}
span{
    /*font-size: 40px;*/
    color: darkmagenta;
    width: 50%;
    height: 50px;
    background-color: lightpink;
    display: inline-block;
}
img{
    width: 200px;
    object-fit: cover;
}