*{
    margin: 0;
}
nav{
    width: 100%;
    height: 4vh;
    background: #D9D9D9;
}
main{
    display: flex;
}
.main__section{
    width: 59vw;
    height: 74vh;
    background: #A4A4A4;
}
.container{
    display: flex;
    flex-direction: column;
}
.main__container-1{
    width: 41vw;
    height: 40vh;
    background: #7F7A7A;
}
.main__container-2{
    width: 41vw;
    height: 34vh;
    background: #615050;
}
.footer__bloc-1{
    width: 100%;
    height: 10vh;
    background: #D9D9D9;
}
.footer__bloc-2{
    width: 100%;
    height: 12vh;
    background: #AFA9A9;
}