*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 27% 46% 27%;
    grid-template-rows: 22% 56% 22%;
    grid-template-areas:
    "header header header"
    "left-aside main right-aside"
    "footer footer footer";
}
header{
    grid-area: header;
    background: #D9D9D9;
}
.left-aside{
    grid-area: left-aside;
    background: #C0BDBD;
}
.right-aside{
    grid-area: right-aside;
    background: #C0BDBD;
}
main{
    grid-area: main;
    background: #A4A4A4;
}
footer{
    grid-area: footer;
    background: #D9D9D9;
}