*{
    margin: 0;
}
nav {
    width: 100%;
    height: 4vh;
    background: #D9D9D9;
}
.main__section-1{
    width: 29vw;
    height: 86vh;
    background: #A4A4A4;
}
.main__section-2{
    width: 31vw;
    height: 86vh;
    background: #C1C1C1;
}
main{
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__container-1{
    width: 41vw;
    height: 43vh;
    background: #7F7A7A;
}
.main__container-2{
    width: 41vw;
    height: 43vh;
    background: #6B6161;
}
footer{
    width: 100%;
    height: 10vh;
    background: #D9D9D9;
}